#home-section {
  background: url("https://images.pexels.com/photos/47805/library-book-reading-computers-47805.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  min-height: 550px;
}

#home-section .dark-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 550px;
}
